<mat-form-field appearance="outline">
  <mat-label>{{ label | translate }}</mat-label>
  <input
    matInput
    [attr.autocomplete]="autocomplete"
    [formControl]="control"
    [type]="passwordVisible() ? 'text' : 'password'"
  />
  <button
    mat-button
    matSuffix
    type="button"
    [attr.aria-label]="(passwordVisible() ? 'auth.hidePassword' : 'auth.showPassword') | translate"
    (click)="toggleVisibility()"
  >
    {{ (passwordVisible() ? 'auth.hide' : 'auth.show') | translate }}
  </button>
  @if (control.hasError('required')) {
    <mat-error>{{ requiredMessage | translate }}</mat-error>
  }
</mat-form-field>
